{# extend the parent tpl #}
{% extends 'layout.twig' %}


{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'ImmoSite &raquo; Add property' %}


{# overwrite the pageContent block #}
{% block pageContent %}

    <section class="breadcrumb">
        <p><a href="{{ path('home') }}">Home</a> &raquo; <a href="{{ path('immo.browse') }}">Browse</a> &raquo; Insert
        </p>
    </section>

    <section class="content">
        <div class="page-header">
            <h2>Create a new real property</h2>
        </div>


        <form class="clearfix" action="{{ path('immo.insert') }}" method="post" {{ form_enctype(insertform) }}
              novalidate="novalidate">{# disable HTML5 formchecking #}

            <fieldset>
                <legend>Basic information</legend>
                <dl class="dl-horizontal">
                    <dt>
                        {{ form_label(insertform.type) }}
                    </dt>
                    <dd>
                        {{ form_widget(insertform.type) }}
                        <span class="help-inline">*</span>
                        <span class="text-error">{{ form_errors(insertform.type) }}</span>
                    </dd>
                    <dt>
                        {{ form_label(insertform.price) }}
                    </dt>
                    <dd>
                        {{ form_widget(insertform.price) }}
                        <span class="help-inline">* ( € )</span>
                        <span class="text-error">{{ form_errors(insertform.price) }}</span>
                    </dd>
                    <dt>
                        {{ form_label(insertform.category) }}
                    </dt>
                    <dd>
                        {{ form_widget(insertform.category) }}
                        <span class="help-inline">*</span>
                        <span class="text-error">{{ form_errors(insertform.category) }}</span>
                    </dd>
                    <dt>
                        {{ form_label(insertform.street_and_number) }}
                    </dt>
                    <dd>
                        {{ form_widget(insertform.street_and_number) }}
                        <span class="help-inline">*</span>
                        <span class="text-error">{{ form_errors(insertform.street_and_number) }}</span>
                    </dd>
                    <dt>
                        {{ form_label(insertform.postal_code) }}
                    </dt>
                    <dd>
                        {{ form_widget(insertform.postal_code) }}
                        <span class="help-inline">*</span>
                        <span class="text-error">{{ form_errors(insertform.postal_code) }}</span>
                    </dd>
                    <dt>
                        {{ form_label(insertform.city) }}
                    </dt>
                    <dd>
                        {{ form_widget(insertform.city) }}
                        <span class="help-inline">*</span>
                        <span class="text-error">{{ form_errors(insertform.city) }}</span>
                    </dd>
                    <dt>
                        {{ form_label(insertform.country) }}
                    </dt>
                    <dd>
                        {{ form_widget(insertform.country) }}
                        <span class="help-inline">*</span>
                        <span class="text-error">{{ form_errors(insertform.country) }}</span>
                    </dd>
                </dl>
            </fieldset>
            <fieldset>
                <legend>Extra information</legend>
                <dl class="dl-horizontal">
                    <dt>
                        {{ form_label(insertform.amount_of_bedrooms) }}
                    </dt>
                    <dd>
                        {{ form_widget(insertform.amount_of_bedrooms) }}
                    </dd>
                    <dt>
                        {{ form_label(insertform.area) }}
                    </dt>
                    <dd>
                        {{ form_widget(insertform.area) }}
                        <span class="help-inline"> ( m² )</span>
                    </dd>
                    <dt>
                        <label>K.I.</label>
                    </dt>
                    <dd>
                        {{ form_widget(insertform.K_I) }}
                        <span class="help-inline"> ( € )</span>
                    </dd>
                    <dt>
                        {{ form_label(insertform.visibility) }}
                    </dt>
                    <dd>
                        {{ form_widget(insertform.visibility) }}
                        <span class="text-error">{{ form_errors(insertform.visibility) }}</span>
                    </dd>
                    <dt>
                        {{ form_label(insertform.description) }}
                    </dt>
                    <dd>
                        {{ form_widget(insertform.description) }}
                    </dd>
                </dl>
            </fieldset>
            <dl>
                <dt></dt>
                <dd>
                    {{ form_widget(insertform._token) }}
                    <input class="btn btn-primary" type="submit" name="submit" value="Add property"/>
                </dd>
            </dl>
        </form>
    </section>
{% endblock %}