{# extend the parent tpl #}
{% extends 'layout.twig' %}


{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'ImmoSite &raquo; Profile' %}


{# overwrite the pageContent block #}
{% block pageContent %}

    <section class="breadcrumb">
        <p><a href="{{ path('home') }}">Home</a> &raquo; View profile</p>
    </section>

    <section class="content">
        <div class="page-header">
            <h2>Profile</h2>
        </div>

        {% if user %}

            <section class="clearfix">
                <form class="buttons" action="{{ path('auth.editprofile') }}" method="get">
                    <input type="submit" class="btn btn-primary" name="edit" value="Edit"/>
                </form>
                <form class="buttons" action="{{ path('auth.upload') }}" method="get">
                    <input type="submit" class="btn btn-primary" name="upload" value="Upload logo"/>
                </form>
            </section>

            <div class="page-header sub-header">
                <h4>
                    Company information
                </h4>
            </div>

            <section>
                <dl class="dl-horizontal">
                    <dt>
                        <label>Company name</label>
                    </dt>
                    <dd>
                        {{ company.company_name }}
                    </dd>
                    <dt>
                        <label>Description</label>
                    </dt>
                    <dd>
                        {{ company.description|raw }}
                    </dd>
                    <dt>
                        <label>Logo</label>
                    </dt>
                    {% for logo in logos %}
                        <dd>
                            <a href="{{ app.request.baseUrl }}{{ logo.url }}" class="highslide"
                               onclick="return hs.expand(this)">
                                <img src="{{ app.request.baseUrl }}{{ logo.url }}"
                                     alt="Highslide JS" title="{{ company.company_name }}" width="150"/>
                            </a>

                        </dd>
                    {% endfor %}
                </dl>
            </section>

            <div class="page-header sub-header">
                <h4>
                    Contact information
                </h4>
            </div>

            <section>
                <dl class="dl-horizontal">
                    <dt>
                        <label>Name</label>
                    </dt>
                    <dd>
                        {{ company.name }}
                    </dd>
                    <dt>
                        <label>Email</label>
                    </dt>
                    <dd>
                        {{ company.contact_email }}
                    </dd>
                    <dt>
                        <label>Telephone number</label>
                    </dt>
                    <dd>
                        {{ company.contact_tel }}
                    </dd>
                    <dt>
                        <label>Address</label>
                    </dt>
                    <dd>
                        <address>
                            {{ company.address_streetnr }}<br>
                            {{ company.address_postcode }}, {{ company.address_city }}<br>
                            {{ company.country_name }}
                        </address>
                    </dd>
                </dl>
            </section>

        {% else %}
            <p>No user logged in.</p>
        {% endif %}
    </section>
{% endblock %}